h1 {
    color: black;
    /* opacity: ; */
}

.logo{
    height: auto;
    width: 100%;
    background-image: url("/images/RedCat.png");
    background-size: cover;
    background-position: center;
}

.bus{
    height: 800px;
    width: 100%;
    margin-bottom: 25px;;
    background-image: url("/images/Red-Cat-Co.png");
    background-size: cover;
    background-position: center;
    
}

.accessories {
    height: 100%;
    width: 100%;
    background-image: url("/images/dogpack-red00-220x.jpg");
    background-size: cover;
}

.homegoods {
    height: 100%;
    width: 100%;
    background-image: url("/images/disappointedmug00-360x.jpg");
    background-size: cover;
}

.pins {
    height: 100%;
    width: 100%;
    background-image: url("/images/girlsunite00-360x.jpg");
    background-size: cover;
}